/* ==========================================================================
   Global app/site styles
   ========================================================================== */
body {
	background-color: $color-background;
	overflow-y: scroll;
}

.sidebar {
	text-align: center;
	color: #fff;
	padding: 30px 5%;
	background-color: #181830;
	// background: #181830 url(/img/sidebar/2.jpg) 0 0 no-repeat;
	// background: #181830 url(/img/sidebar/pete.jpg) 0 0 no-repeat;
	background-size: cover;
	z-index: 100;

	@include respond-min($breakpoint-single-col) {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		// float: left;
		width: 40%;
		// height: 100vh;
		text-align: left;
		padding: 100px 5%;

		// &:after {
		// 	content:'';
		// 	position: absolute;
		// 	top: -40px;
		// 	bottom: -40px;
		// 	right: -20px;
		// 	width: 40px;
		// 	background-color: #181830;
		// 	transform: rotate(-2deg);
		// }
	}

	@include respond-min($breakpoint-huge) {
		width: 30%;
	}
}

.content {
	// padding: 7% 5%;
	position: relative;

	@include respond-min($breakpoint-single-col) {
		float: right;
		width: 60%;
		// padding: 100px 5%;
	}

	@include respond-min($breakpoint-huge) {
		width: 70%;
	}
}

.content-inner {
	margin: 7% 30px;

	@include respond-min($breakpoint-single-col) {
		margin: 114px 50px 50px;
	}
}


.sectionTitle {
	text-transform: lowercase;
	color: #a7a7a7;
	margin-bottom: ($base-line-height / 2) + px;
	font-weight: normal;

	&:before {
		content:'/';
		margin-right: 3px;
	}

	small {
		font-family: $sans-font-family1;
		font-size: 60%;
	}
}

.sectionDescription {
	color: #a7a7a7;
	display: none;
}

.pagination {
	color: #fff;
	position: relative;
	overflow: hidden;
	background-color: #303333;
}

.pagination-item {
	width: 49%;
	display: block;
	float: left;
	padding: 3em 50px;
	font-family: $sans-font-family;
	text-align: center;

	&, &:link, &:visited {
		color: $color-background;
	}

	&:hover, &:active {
		color: darken($color-background, 25%);
	}
}
.pagination-item--older {

}
.pagination-item--newer {
	// border-left: 2px solid $color-background;
	float: right;
}

.tmwBrand {
	&,
	&:link,
	&:visited {
		color: $orange;

		span {
			color: #fff;
		}
	}



	&:hover {
		color: darken($orange, 15%);

		span {
			color: darken(#fff, 15%);
		}
	}
}

/* haveYouSeen style ------------------------------------------------------------------ */

.openSource {
	background-color: $orange ;
	display: block;
	padding: 3% 10px;

	&,
	h2,
	p {
		color: #fff;
		margin: 0;
	}

	h2 {
		font-weight: normal;
		font-style: italic;
	}

	p {
	}

	@include respond-min($breakpoint-single-col) {
		padding: 3% 50px;
	}

	&:hover{
		background-color: darken($orange, 10%);
	}
}

