---
layout: default
title: TMW Tech Blog
---

<div class="entries clearfix">
{% for post in paginator.posts %}
	{% assign author = site.authors[post.author] %}

	<article class="entry entry--multiple clearfix">
		<div class="col-a">
			<h1 class="entry-title entry-title--entries"><a href="{{ post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h1>
			<h4 class="entry-authorName"><time class="entry-date">Posted on {{ post.date | date_to_string }}</time> by <a href="http://twitter.com/{{ author.twitter }}">{{ author.display_name }}</a></h4>
		</div>

		<div class="col-b">
			<p class="entry-excerpt">{{ post.excerpt }}</p>
			<a href="{{ post.url }}" title="Read {{ post.title }}" class="entry-readMore">Read full post</a>
		</div>
	</article>
{% endfor %}
</div>


<!-- Pagination links -->
<div class="pagination">
	<div class="container">
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="pagination-older"><span class="icon-arrow-left-small"></span>Older</a>
		{% endif %}

		{% if paginator.previous_page and paginator.next_page %}
		|
		{% endif %}

		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="pagination-newer icon-arrow-right-small">Newer<span class="icon-arrow-right-small"></span></a>
		{% endif %}

	</div>
</div>
</div>

