---
layout: default
title: TMW Labs Blog
---
<div class="entries">
{% for post in paginator.posts %}
	<article class="entry">
		<h1 class="entry--title"><a href="{{ post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h1>
		<time class="entry--date text-centre">{{ post.date | date_to_string }}</time>

		{% if post.image %}
			<figure>
				<img src="/img/posts/{{ post.image }}" alt="{{ post.title }}">
			</figure>
		{% endif %}

		{{ post.content }}

		{% assign author = site.authors[post.author] %}
		<a href="http://twitter.com/{{ author.twitter }}">{{ author.display_name }}</a>
	</article>
{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page == 1 %}
		<a href="/">Newer</a>
	{% else %}
		<a href="{{ paginator.previous_page_path }}">Newer</a>
	{% endif %}
	<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Older</a>
	{% endif %}
</div>