---
layout: default
title: the tech.tmw team
pageid: team
---
<div class="content-inner clearfix">
	<h1 class="sectionTitle">team <small>tech.tmw team and authors</small></h1>
	{% assign teamList = site.data.team | sort: 'surname' %}
	{% for member in teamList %}
		<article class="gridItem clearfix">
			{% if member.avatar == null %}
				<img src="/img/authors/default{% random 1-6 %}.gif" alt="" class="gridItem-avatar">
			{% else %}
				<img src="/img/authors/{{ member.avatar }}" alt="Picture of {{ member.name }}" class="gridItem-avatar">
			{% endif %}
			<h1 class="gridItem-name h3">{{ member.name }}</h1>

			<div class="gridItem-back">
				<div class="gridItem-desc">{{ member.short_desc }}</div>
				{% if member.web != null %}
				<a href="{{ member.web }}" class="gridItem-desc">{{ member.web }}</a href="">
				{% endif %}
				<div class="gridItem-links">
					{% if member.twitter != null %}
					<a href="http://twitter.com/{{ member.twitter }}" class="icon-small icon-twitter">{{ member.twitter }}</a>
					{% endif %}
					{% if member.github != null %}
					<a href="http://github.com/{{ member.github }}" class="icon-small icon-github">{{ member.github }}</a>
					{% endif %}
				</div>
			</div>
		</article>
	{% endfor %}
</div>
