<footer class="footer" role="contentinfo">
	<div class="container footer-links">
		<a href="http://github.com/{{ site.labs.github }}/" class="footer-links-item"><span aria-hidden="true" data-icon="&#xe600;"></span>Github</a>
		<a href="http://twitter.com/{{ site.labs.twitter }}/" class="footer-links-item"><span aria-hidden="true" data-icon="&#xe601;"></span>Twitter</a>
		<a href="http://tmwagency.github.io/kickoff/" class="footer-links-item footer-links-item--right">We also maintain <span class="kickoff">Kickoff</span></a>
	</div>
	<div class="footer-text container clearfix">
		<p class="footer-text-about">This blog is curated and maintained by the creative technology team at <a href="http://www.tmw.co.uk" title="TMW's website" target="_blank">TMW</a>.</p>
		<p class="footer-text-email"><a href="http://eepurl.com/KaKbv">Subscribe by Email</a></p>
	</div>

</footer>