<footer class="footer" role="contentinfo">
	<div class="socialLinks">
		<a href="http://github.com/{{ site.labs.github }}/" class="socialLinks-item"><span aria-hidden="true" class="icon-small icon-github"></span>@{{ site.labs.github }}</a>
		<a href="http://twitter.com/{{ site.labs.twitter }}/" class="socialLinks-item"><span aria-hidden="true" class="icon-small icon-twitter"></span>@{{ site.labs.twitter }}</a>
		<a href="http://tmwagency.github.io/kickoff/" class="socialLinks-item"><span aria-hidden="true" class="icon-small icon-kickoff"></span>We also maintain Kickoff</a>
		<a href="http://eepurl.com/KaKbv" class="socialLinks-item"><span aria-hidden="true" class="icon-small icon-subscribe"></span>Subscribe by Email</a>
	</div>
</footer>
