<header class="masthead">
	<h1 class="logo"><a href="{{site.labs.url}}/">tech<span class="dot">.</span><span class="tmwBrand">tmw</span></a></h1>
	<p class="logo-tagline">Latest news and opinion from the creative technology team at <a href="http://www.tmw.co.uk" title="TMW's website" target="_blank" class="tmwBrand"><strong>tmw</strong></a></p>

	<nav class="nav">
		<a href="{{site.labs.url}}/" class="nav-item">News</a>
		<a href="{{site.labs.url}}/code" class="nav-item">Code</a>
		<a href="{{site.labs.url}}/team" class="nav-item">Team</a>
	</nav>
</header>

