.entries,
.entry--single {
	margin: 7% 5%;

	@include respond-min($breakpoint-single-col) {
		margin: 114px 7% 50px;
	}
}

.entries {
	// @include respond-min($breakpoint-huge) {
	// 	@include content-columns(2, 5%);
	// }
}

.entry--single {
	max-width: 700px;
}
.entry--multiple {
	margin-bottom: 50px;
	// @include respond-min($breakpoint-huge) {
	// 	@include content-columns(2, 10%);
	// }
	@include respond-min($breakpoint-huge) {
		.col-a, .col-b {
			float: left;
		}
		.col-a {
			width: 50%;
			margin-right: 5%;
		}
		.col-b {
			width: 45%;
		}
	}
}

.entry-title {
	line-height: 1;

	&.entry-title--entries {
		margin-bottom: ($base-line-height / 2) + px;
		// text-transform: uppercase;
		// font-weight: normal;
	}

	&.entry-title--single {
		@include respond-min($breakpoint-single-col) {
			@include font-size(60);
		}
	}
}

.entry-authorName {
	margin-top: 0;
}

.entry-excerpt {
	margin-top: ($base-line-height / 2) + px;
	margin-bottom: ($base-line-height / 2) + px;

	@include respond-min($breakpoint-huge) {
		margin-top: 0;
	}
}

.entry-readMore {
	font-weight: bold;
	// border-top: 2px solid;
	// text-transform: uppercase;
	display: block;
	font-weight: normal;
	color: #ff5500;
}

.links {
	margin-top: 10px;
}
.links-item {
	margin-right: 10px;
}