.entry {
	background-color: #fff;
	padding: 3% 5% 5%;
	@include border-radius(2px);
}

	.entry-title {
		@include font-size(50);
		margin-top: 0;
		margin-bottom: $verticalRhythm + px;

		& > a {
			position: relative;
		}

		& > a:after {
			position: relative;
			z-index: -1;
			font-family: 'icons';
			content: "\e603\e603";
			vertical-align: middle;
			position: absolute;
			top: 25%;
			left: 90%;

			letter-spacing: -51px;

			color: $blueDark;
			@include font-size(40);
			@include opacity(0);
			@include transition(all 200ms ease-in-out);
		}
		& > a:hover:after,
		.touch & > a:after {
			left: 100%;
			color: $pinkDark;
			@include opacity(100);
			z-index: 1;
		}

		.touch & > a:after {
			color: $pink;
		}

	}
	.entry-date {
		margin-bottom: $verticalRhythm + px;
	}
	.entry-author {
		float: right;
		margin-left: 5%;
	}

	.entry-content {
		//only on the post page
		.post & {
			border-bottom: 1px solid #ddd;
			margin-bottom: $verticalRhythm + px;
			padding-bottom: $verticalRhythm + px;
		}
	}

/*
   Author info
   ========================================================================== */
.author {
	display: block;
	text-align: left;

	.post & {
		border-top: 1px solid #ddd;
		padding-top: ($verticalRhythm * 2) + px;
	}
}
	.author-img {
		float: right;
		max-width: 70px;
		display: inline-block;
		border: 4px solid #fff;

		@include border-radius(100px);
		@include box-shadow(0px 2px 5px rgba(0,0,0,.25));
		@include transition(all 200ms ease-in-out);

		&:hover {
			@include box-shadow(0px 2px 5px rgba(0,0,0,.75));
		}

		.post & {
			margin-left: 20px;
			max-width: 90px;
		}
	}
	.author-by {
		font-family: $serif-font-family;
		font-style: italic;
	}
	.author-name {
		font-family: $sans-font-family;
		@include font-size(18);
		font-weight: 700;
		text-transform: uppercase;

		margin-top: 0;
		margin-bottom: ($verticalRhythm /4) + px;

		.entries & {
			@include font-size(16);
			margin: 0 0 ($verticalRhythm) + px;
			color: #777;
		}
	}
	.author-desc {
		color: $color-text;
		margin-bottom: 0;
	}


#disqus_thread {
	margin-top: ($verticalRhythm * 2) + px;
	border-top: 1px solid #ddd;
	padding-top: ($verticalRhythm * 2) + px;
}

// === <$breakpoint-wide ===
@include respond-min($breakpoint-wide) {
	.entry-content {
		// figure,
		img,
		iframe,
		.gist {
			max-width: 120%;
			width: 120%;
			margin-left: -10%;
			@include border-radius(2px);
			// @include box-shadow(5px 5px 0px rgba(0,0,0,.1));
		}
	}
}
// === end <$breakpoint-wide ===