.entry {
	background-color: #fff;
	padding: 3% 5% 5%;
	@include border-radius(2px);

	.post & {
		padding: 0;
	}
}

.featuredImage {
	@include border-radius(3px 3px 0 0);
	overflow: hidden;
}

.entry-title {
	@include font-size(50);
	margin-top: 0;
	margin-bottom: $verticalRhythm + px;

	& > a {
		position: relative;
	}

	& > a:after {
		position: relative;
		z-index: -1;
		font-family: 'icons';
		content: "\e603\e603";
		vertical-align: middle;
		position: absolute;
		bottom: 0%;
		left: 90%;

		letter-spacing: -51px;

		color: $blueDark;
		@include font-size(40);
		@include opacity(0);
		@include transition(all 200ms ease-in-out);
	}
	& > a:hover:after {
		left: 100%;
		color: $pinkDark;
		@include opacity(100);
		z-index: 1;
	}

}

.post .entry-date {
	margin: ($verticalRhythm * 2) + px 0;
	padding: $verticalRhythm + px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	@include font-size(15);
	color: #888;
}

.entry-author-img {
	max-width: 100px;
}

.entry-content {
	//only on the post page
	.post & {
		padding: 5% 10% 0;
	}

	.featuredImage + & {
		padding-top: 0;
	}

	.entry--code & p {
		margin-bottom: 0;
	}
}

#disqus_thread {
	margin-top: ($verticalRhythm * 2) + px;
	padding-top: ($verticalRhythm * 2) + px;
	width: 100%;
	border-top: 1px solid #ddd;
}



// === <$breakpoint-wide ===
@include respond-min($breakpoint-wide) {
	.entry-content {
		// figure,
		img,
		iframe,
		.gist {
			max-width: 140%;
			width: 140%;
			margin-left: -20%;
			@include border-radius(2px);
		}
	}
}
// === end <$breakpoint-wide ===