.logo {
	// font-family: "flood-std";
	// font-weight: normal;
	margin-bottom: 0.2em;
	@include font-size(60);
}

.nav {
	padding: 1em 0;
	margin-bottom: $base-line-height + px;
	// border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	// text-align: center;
}

.nav-item {
	display: inline-block;
	margin: 0 10px;

	// @include respond-min($breakpoint-single-col) {
	// 	display: block;
	// }
}