.logo {
	margin-bottom: 0.2em;
	@include font-size(40);

	&,
	a:link,
	a:visited {
		color: #fff !important;
	}

	@include respond-min($breakpoint-mid) {
		@include font-size(60);
	}
}

.logo-tagline {
	@include font-size(16);
	margin-top: 0;

	@include respond-min($breakpoint-mid) {
		margin-top: $base-line-height + px;
		@include font-size($base-font-size);
	}
}

.nav {
	padding: 0.5em 0;
	margin-bottom: $base-line-height + px;
	text-transform: lowercase;
	font-family: $sans-font-family;

	@include respond-max($breakpoint-mid) {
		overflow-x: auto;
		white-space: nowrap;
		margin-bottom: 0;
	}
}

.nav-item {
	display: inline-block;
	margin-right: 15px;
	color: #ddd;
	@include font-size(16);

	@include respond-min($breakpoint-narrow) {
		@include font-size($base-font-size);
	}

	&.is-active {
		color: #fff;
	}
}