.pagination {
	background-color: #303333;
	padding: 3em 5%;

	@include respond-max($breakpoint-mid) {
		@include font-size(12);
	}

	&, a {
		font-family: $mono-font-family;
		color: #f0f0f0;
		text-shadow: 0 -1px 0 #000;

		&:hover {
			color: $pink;
		}
	}
}
.pagination-newer {
	float: right;
}
.pagination-item {
	max-width: 48%;
}