---
layout: default
title: selected work from the tmw team
pageid: work
---
<div class="content-inner clearfix">
	<h1 class="sectionTitle">work <small>selected work from the tmw team</small></h1>

	{% for item in site.work reversed %}
		<article class="gridItem clearfix">
			<img src="/img/work/{{ item.thumbnail }}" alt="{{ item.name }}" class="gridItem-avatar">
			<h1 class="gridItem-name h3">{{ item.title }}</h1>
			<div class="gridItem-back">
				<!-- <div class="gridItem-desc">{{ item.content }}</div> -->
				<div><a href="{{ item.view.url }}">{{ item.view.text }}</a></div>
				<div>{{ item.meta.date }}</div>
				<ul class="teamList">
					{% for teammate in item.team %}
						{% for member in site.data.team %}
							{% if member.short_name == teammate %}
								{% assign author = member %}
							{% endif %}
						{% endfor %}
						<li>{{ author.name }}</li>
					{% endfor %}
					{% for teammate in item.otherteam %}
						<li>{{ teammate }}</li>
					{% endfor %}
				</ul class="l-centered">
			</div>
		</article>
	{% endfor %}
</div>