---
layout: default
---

<article class="entry entry--single" role="main">
	<h1 class="sectionTitle">news</h1>
	<p class="sectionDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, tempora, ipsam numquam alias doloribus asperiores nemo. Magnam, et, aliquid, culpa corporis nulla veritatis facere sint sunt atque nesciunt autem aspernatur.</p>

	{% if page.featuredImage %}
		<figure class="featuredImage">
			<img src="{{ page.featuredImage }}" alt="{{ page.title }}">
		</figure>
	{% endif %}

	<div class="entry-content">
		<h1 class="entry-title entry-title--single">{{ page.title }}</h1>
		{{ content }}
	</div>

	<div class="entry-meta">
		<p class="entry-date"><time>Posted on {{ page.date | date_to_string }}</time></p>

		{% assign author = site.team[page.author] %}
		<div class="author">
			<a href="http://twitter.com/{{ author.twitter }}">
				<img src="/img/authors/{{ author.avatar }}" alt="Picture of {{ author.display_name }}" class="author-img">
				<h3 class="author-name">{{ author.display_name }}</h3>
			</a>
			<p class="author-desc">{{ author.content }}</p>
		</div>

		{% if page.comments %}
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			var disqus_shortname = 'labstmw';

			{% if page.comments_id %}
				var disqus_identifier = '{{ page.comments_id }}'; // required: replace example with your forum shortname
			{% endif %}
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		{% endif %}
	</div>

	<!-- {% for post in site.related_posts %}
	  <a href="{{ post.url }}">{{post.title }}</a><br />
	{% endfor %} -->
</article>

<!-- Pagination links -->
<div class="pagination clearfix">
	<div class="container">
		{% if page.previous %}
			<a href="{{page.previous.url}}" class="pagination-item pagination-older"><span class="icon-arrow-left-small"></span>Previous post - {{ page.previous.title }}</a>
		{% endif %}
		{% if page.next %}
			<a href="{{page.next.url}}" class="pagination-item pagination-newer">Next post - {{ page.next.title }}<span class="icon-arrow-right-small"></span></a>
		{% endif %}
	</div>
</div>