---
layout: default
---
<!--  === MAIN CONTENT ===  -->
<section class="container post" role="main">
	<article class="entry">
		{% if page.image %}
			<figure class="entryImage">
				<img src="/img/posts/{{ page.image }}" alt="{{ page.title }}">
			</figure>
		{% endif %}

		<h1 class="entry-title">{{ page.title }}</h1>

		<div class="entry-content">
			{{ content }}
		</div>

		<time class="entry-date">Posted on {{ page.date | date_to_string }}</time>

		{% assign author = site.authors[page.author] %}
		<div class="author">
			<a href="http://twitter.com/{{ author.twitter }}">
				<img src="/img/authors/{{ author.avatar }}" alt="Picture of {{ author.display_name }}" class="author-img">
				<h3 class="author-name">{{ author.display_name }}</h3>
			</a>
			<p class="author-desc">{{ author.short_desc }}</p>
		</div>


		{% if page.comments %}
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			{% if page.comments_old %}
				var disqus_shortname = 'tmwlabs';
			{% else %}
				var disqus_shortname = 'martineau-tv';
			{% endif %}
			{% if page.comments_id %}
				var disqus_identifier = '{{ page.comments_id }}'; // required: replace example with your forum shortname
			{% endif %}
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		{% endif %}

	</article>
</section>

<!-- Pagination links -->
<div class="pagination">
	<div class="container">
		{% if page.previous %}
			<a href="{{page.previous.url}}" class="pagination-older icon-arrow-left-small">Previous post</a>
		{% endif %}
		{% if page.next %}
			<a href="{{page.next.url}}" class="pagination-newer icon-arrow-right-small">Next post</a>
		{% endif %}
	</div>
</div>
